<footer class="page-footer closed">
<div class="footer-block-ml-mr">
    <div class="row" style="margin-bottom: 0;">
        <div class="col l6 s12">
            <h5 class="white-text">POINTLOCALS</h5>
            <p>
                We show accurate and all the business locations around you. We assure you that you will find the business locations in our database, and if such a business location is missing or not available in our database, then you may add the same to Pointlocals and get paid for uploading the Missing Business Location.

{#                <section id="lab_social_icon_footer">#}
{#                    <div class="text-center center-block">#}
{#                        <a href="https://www.linkedin.com/company/pointlocals"><i id="social-fb" class="fa fa-linkedin-square fa-3x social"></i></a>#}
{#                        <a href="https://www.facebook.com/pointlocals.local.search.engine"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>#}
{#                        <a href="https://twitter.com/PointLocals"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>#}
{#                        <a href="https://www.instagram.com/pointlocals/"><i id="social-tw" class="fa fa-instagram fa-3x social"></i></a>#}
{#                        <a href="https://in.pinterest.com/pointlocalss"><i id="social-tw" class="fa fa-pinterest-square fa-3x social"></i></a>#}
{#                    </div>#}
{#                </section>#}
            </p>
        </div>
        <div class="col l3 s12 play-links-p">
            <div class="col s12">
                <a href='https://play.google.com/store/apps/details?id=com.pointlocals'><img alt='Get it on Google Play' height="74" width="190" src={{ asset('/build/img/play-store.png') }}></a>
            </div>
            <div class="col s12">
                <a href='https://apps.apple.com/in/app/pointlocals/id1571158828'><img alt='Get it on App Store' height="104" width="165" style="margin-left:11px" src={{ asset('/build/img/app-store.png') }}></a>
            </div>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="{{ path('app_home') }}">Terms of Service</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ path('app_home') }}">Disclaimer</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ path('app_home') }}">Cookies Policy</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ path('app_home') }}">Refund and Cancellation Policy</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ path('app_home') }}">Privacy</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ path('app_home') }}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="container">
        <script type="text/javascript">(function () { var c = document.createElement('link'); c.type = 'text/css'; c.rel = 'stylesheet'; c.href = 'https://images.dmca.com/badges/dmca.css?ID=dd68668c-7c1e-463a-a33b-0655f334535c'; var h = document.getElementsByTagName("head")[0]; h.appendChild(c); })();</script>
        <div id="DMCA-badge">
            <div class="dm-1 dm-1-b" style="left: 0px; background-color: rgb(126, 0, 126);"><a href="https://www.dmca.com/" title="DMCA">DMCA</a></div>
            <div class="dm-2 dm-2-b"><a href="http://www.dmca.com/Protection/Status.aspx?ID=dd68668c-7c1e-463a-a33b-0655f334535c" title="DMCA">PROTECTED</a></div>
        </div>
        © 2021 Pointlocals (OPC) Private Limited, All Rights Reserved. Developed & designed by <a href="https://www.apto.gr/" rel="noreferrer" target="_blank">APTO OE</a>
        {#            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
    </div>
</div>
</footer>
