<!DOCTYPE html>
<html lang="{{ app.session.get('_locale')|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %} | Point Locals</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="description" content="{% block description %}We show accurate and all the business locations around you. We assure you that if you have not found the location in our database, then it asserts that such location did not exist in the first place within our screened area; Which means that every business around you is within POINTLOCALS.{% endblock %}"/>

        {{ include('seo/favicon.front.html.twig')  }}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app.front') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app.front') }}
        {% endblock %}
    </head>
    <body class="" {{ stimulus_controller('1') }}>
{#        {% include 'flash/flash.html.twig' %}#}
{#        {% include 'translation/translation.html.twig' %}#}
        {% block header %}
            {{ include('header/header.front.html.twig')  }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>

